@font-face {
  font-family: 'icomoon';
  src:    url('fonts/icomoon.eot?eu2ngu');
  src:    url('fonts/icomoon.eot?eu2ngu#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?eu2ngu') format('truetype'),
  url('fonts/icomoon.woff?eu2ngu') format('woff'),
  url('fonts/icomoon.svg?eu2ngu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-color_lens:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e900";
}



html,body {
  text-align:center;
  height: 100%;
  margin:0;
  padding:0;
}

.content {
  background-size: 100%;
  height: 100%;
}

.nav-btn {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 30px;
  left: 50px;
  z-index: 9999;
}


/* Main Sections */
.main-column{
  background:white;
  text-align: center;
}
/* Layout */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.con {
 width: 55px;
 display: block;
 margin: 0 auto;
 top: 50%;
 position: relative;
 -webkit-transform: translateY(-50%);
 -moz-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 -o-transform: translateY(-50%);
 transform: translateY(-50%);
 background-color: #1F1C1C;
 border-radius: 5px;
 padding: 5px 5px;
}

.con:hover {
 cursor: pointer;
}

.bar {
 display: block;
 height: 2px;
 width: 30px;
 background: #fff;
 margin: 6px auto;
 -webkit-transition: all 1s ease;
 -moz-transition: all 1s ease;
 -ms-transition: all 1s ease;
 -o-transition: all 1s ease;
 transition: all 1s ease;
 -webkit-transform: translateY(0px) rotateZ(0deg);
 -moz-transform: translateY(0px) rotateZ(0deg);
 -ms-transform: translateY(0px) rotateZ(0deg);
 -o-transform: translateY(0px) rotateZ(0deg);
 transform: translateY(0px) rotateZ(0deg);
}


.animated .top {
 -webkit-transform: translateY(8px) rotateZ(45deg);
 -moz-transform: translateY(5px) rotateZ(45deg);
 -ms-transform: translateY(5px) rotateZ(45deg);
 -o-transform: translateY(5px) rotateZ(45deg);
 transform: translateY(8px) rotateZ(45deg);
 -webkit-transition: all 1s ease;
 -moz-transition: all 1s ease;
 -ms-transition: all 1s ease;
 -o-transition: all 1s ease;
 transition: all 1s ease;
}

.animated .bottom {
 -webkit-transform: translateY(-8px) rotateZ(-45deg);
 -moz-transform: translateY(-5px) rotateZ(-45deg);
 -ms-transform: translateY(-5px) rotateZ(-45deg);
 -o-transform: translateY(-5px) rotateZ(-45deg);
 transform: translateY(-8px) rotateZ(-45deg);
 -webkit-transition: all 1s ease;
 -moz-transition: all 1s ease;
 -ms-transition: all 1s ease;
 -o-transition: all 1s ease;
 transition: all 1s ease; 
}

.animated .middle {
 width: 2px;
}

.nav-list {
 list-style: none;
 position: relative;
 top: 100px;
}


.nav-container {
  width: 150px;
  height: 100%;
  background: #1F1C1C;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  left: -100%;
}

.nav-content {
  height: 100%;
  margin-top: 100px;
}

.n-item {
  height: 60px;
  width: 60px;
  margin: 30px auto;
  border: 2px solid rgba(225,225,225,.7);
  line-height: 36px;
  text-align: center;
  -webkit-transition: border 1s ease;
  -moz-transition: border 1s ease;
  -ms-transition: border 1s ease;
  -o-transition: border 1s ease;
  transition: border 1s ease;
}

.n-item a {
  width: 100%;
  display: block;
  text-decoration: none;
}

.n-item:hover {
  border: 1px solid #12abe7;
  -webkit-transition: border 1s ease;
  -moz-transition: border 1s ease;
  -ms-transition: border 1s ease;
  -o-transition: border 1s ease;
  transition: border 1s ease;
}

.n-item:hover a .fa,
.n-item:hover a span {
 color: #12abe7;
 -webkit-transition: all 1s ease;
 -moz-transition: all 1s ease;
 -ms-transition: all 1s ease;
 -o-transition: all 1s ease;
 transition: all 1s ease;
 -webkit-transform: scale(1.5);
 -moz-transform: scale(1.5);
 -ms-transform: scale(1.5);
 -o-transform: scale(1.5);
 transform: scale(1.5);
}


.nav-fa {
  color: #fff;
  font-size: 18px;
  line-height: 60px;
  font-weight: 700;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

@keyframes showNav {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@-webkit-keyframes showNav {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@-moz-keyframes showNav {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@-o-keyframes showNav {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

.showNav {
  -webkit-animation: showNav .5s ease forwards;
  -moz-animation: showNav 1s ease forwards;
  -o-animation: showNav 1s ease forwards;
  animation: showNav .5s ease forwards;
}

@keyframes hideNav {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@-webkit-keyframes hideNav {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@-moz-keyframes hideNav {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@-o-keyframes hideNav {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

.hideNav {
  -webkit-animation: hideNav 1s ease forwards;
  -moz-animation: hideNav 1s ease forwards;
  -o-animation: hideNav 1s ease forwards;
  animation: hideNav 1s ease forwards;
}

.hidden {
  display: none;
}

