

    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper" ng-repeat= "x in myapi">
            <div class="swiper-slide">{{x.title}}</div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
<!-- Initialize Swipper -->
     <script>
     $(function() {
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        spaceBetween: 30,
    });
});
    
    </script>